*, *:before, *::after {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-size: 2.5vh;
}

body {
    font-family: sans-serif;
}

#container {
    height: calc(100vh - 10rem);
    gap: 3rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container > img {
    height: 70%;
}

#container > a {
    text-decoration: none;
    font-family: monospace;
    transition: 0.3s;
    
    color: black;
    border: 1px solid grey;
    border-radius: 20px;
    
    padding: 1rem 7rem;
}

#container > a:hover {
    background-color: grey;
    border: 1px solid black;
    color: white;
}